.nav {
  height: 100px;

  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    @include for-size(mobile) {
      width: 60%;
      margin-left: 20px;
    }
    @include for-size(tablet) {
      margin-left: 20px;
    }
  }
  .navItem {
    @include for-size(mobile) {
      display: none;
    }
    @include for-size(tablet) {
      margin-right: 10px;
    }
    a {
      text-transform: capitalize;
      text-decoration: none;
      color: white;
      padding: 7.5px;

      &:hover {
        color: $active;
      }
    }
    a.active {
      color: $active;
    }
  }
}
