.serviceContainer {
  flex: 1 1 25%;
  @include for-size(mobile) {
    flex: 1 1 100%;
    padding: 20px;
    text-align: center;
  }
  @include for-size(tablet) {
    flex: 1 1 30%;
    padding: 20px;
  }
  h3 {
    font-size: 1.125rem;
    color: $primaryText;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
    text-transform: capitalize;
    &:hover {
      color: $active;
    }
    @include for-size(mobile) {
      margin-top: 10px;
    }
  }
  p {
    color: $secondaryText;
    margin-bottom: 25px;
    @include for-size(mobile) {
      text-align: left;
      margin-bottom: 10px;
      text-align: center;
    }
  }
  a {
    text-decoration: none;
    color: $primaryText;
    position: relative;

    &::after {
      content: '';
      height: 2px;
      width: 0px;
      position: absolute;
      bottom: -6px;
      left: 0;
      background: $active;
      transition: width 0.3s ease-in-out;
    }
    &:hover {
      text-decoration: none;
      color: $active;
      position: relative;
      &::after {
        width: 100%;
      }
    }
  }
}
