.fullContainer {
  width: 100vw;
}

.banner {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  min-height: calc(100vh);
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .contentArea {
    max-width: 507px;
    h1 {
      color: $primaryText;
      font-size: 45px;
      span {
        font-weight: 700;
      }
    }
    p {
      font-size: 17px;
      color: $primaryText;
      margin: 20px 0 50px 0;
    }
  }

  .bannerImg {
    position: relative;
    right: 0;
    top: 0;
    .topImage {
      z-index: 1;
      position: relative;
      right: 0;
      border: 6px solid white;
      border-radius: 25px;
      top: 50px;
    }
    .circle {
      position: absolute;
      left: -30%;
      top: 30%;
    }
  }
}
section.services {
  background: #324253;
  min-height: 585px;
  display: flex;
  align-items: center;
  .container {
    width: 1170px;
    margin: 0 auto;
  }
  .serviceItemContainer {
    display: flex;
    flex-wrap: wrap;
  }
}

section.latestProject {
  min-height: 832px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  .sliderImg {
    border-radius: 15px;
  }
  .sliderArea {
    width: 100%;
  }
}
section.career {
  background: #324253;
  min-height: 605px;
  display: flex;
  align-items: center;
}
