.jobCard {
  display: flex;
  align-items: center;
  h3 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 24px;
    text-transform: capitalize;
    color: $primaryText;
  }
  p {
    font-size: 1rem;
  }
  .description {
    text-transform: capitalize;
    color: rgba($primaryText, 0.7);
    margin: 5px 0 20px;
  }
  .deadline {
    color: $primaryText;
    span {
      font-weight: 700;
      color: $active;
    }
  }
}
.icon {
  width: 17px;
}
