body {
  font-family: 'Roboto Slab', serif;
  background: $deepDarkBackground;
  min-height: 100vh;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
    color: $primaryText;
  }
}
main {
  min-height: calc(100vh - 444px);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.swiper-container {
  display: flex;
  flex-direction: column-reverse;
  .swiper-slide {
    &.swiper-slide-active {
      @include for-size(mobile) {
        margin-right: 0 !important;
      }
    }

    img {
      height: 400px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  display: flex;
  height: 21px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}

span.swiper-pagination-bullet {
  padding: 3.5px;
  background: rgba($active, 0.3);
  border-radius: 50%;
  cursor: pointer;

  &.swiper-pagination-bullet-active {
    background: $active;
    border: 6px solid $deepDarkBackground;
    box-shadow: 0 0 0 1px $active;
  }
}
