$active: #ffdd00;

$buttonBackground: #ffdd00;
$buttonText: #283849;

$deepDarkBackground: #283849;
$darkBackground: #324253;

$secondaryTheme: #ffdd00;
$primaryText: #fff;
$secondaryText: rgba(#fff, 0.7);
