$active: #ffdd00;

$buttonBackground: #ffdd00;
$buttonText: #283849;

$deepDarkBackground: #283849;
$darkBackground: #324253;

$secondaryTheme: #ffdd00;
$primaryText: #fff;
$secondaryText: rgba(#fff, 0.7);

@mixin for-size($size) {
  @if $size == mobile {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
